p {
    font-size: 18px;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

body{ 

    display:grid; 
    grid-template-rows: auto 1fr auto; 
    min-height:100vh; 
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
  }
  